.contact{
    display: flex;
}
.contactInfo{
    flex: 1;
}
.contactInfo p{
    padding: 4px 8px;
}
.contactInfoItem{

}
.contactForm{
    flex: 2;
}
.contactInfoItem{
    display: flex;
    flex-direction: row;
}
.contactIcon{
    font-size:44px;
}
.contact-ss{
    margin-left: 8px;
}
.contact-ss p{
    padding: 0;
}
.contact-input input{
    width: 500px;
    margin: 0;
    padding: 8px;
}
.contact-input p{
    padding: 4px;
    margin: 0;
}